<%# One chat message. Left/right placement is decided in JavaScript by comparingthe author id with the logged-in user id (see chat_message_controller). %>

<!-- Ajouter la target message dans cette div -->
<div class="chat-message" data-controller="chat-message" data-chat-message-user-id-value="<%= message.user_id %>" data-scroll-target="message">
  <div class="chat-bubble">
    <%# Photo + name of the person who wrote the message %>
    <div class="chat-author">
      <% if message.user.profile_picture_url.present? %>
        <%= image_tag message.user.profile_picture_url, class: "chat-author-avatar", alt: message.user.username %>
      <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "chat-author-avatar", alt: message.user.username %>
      <% end %>
      <%# Maker names link to their public profile; others show plain text.
          turbo_frame "_top" opens the page in full, not inside the chat frame. %>
      <% if message.user.maker? %>
        <%= link_to message.user.username, maker_path(message.user), data: { turbo_frame: "_top" }, class: "maker-link" %>
      <% else %>
        <%= message.user.username %>
      <% end %>
    </div>
    <%= message.content %>
  </div>
</div>
